@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
.card{
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.input{
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

.btn{
    font-size: 20px;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: center;
}